<header>

</header>
<main class="main-container">
        <title>
            Login
        </title>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>  
        <p>
            <mat-form-field appearance="outline" type="password">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>  
</main>
<footer>

</footer>